@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.gallery {
  margin: 128px 0 106px;
  &__inner {
    &-title {
      max-width: 542px;
      text-align: center;
      margin: 0 auto 48px;
      h2 {
        margin-bottom: 24px;
      }
    }
    &-grid {
      column-count: 3;
      column-gap: 22px;
    }
  }
  &Item {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-bottom: 22px;
    break-inside: avoid;
    &:hover {
      .galleryItem {
        &__inner {
          &::before {
            opacity: 0;
          }
        }
      }
      img {
        transform: scale(1.1);
      }
    }
    &__inner {
      height: 100%;
      display: flex;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.1);
        z-index: 1;
        pointer-events: none;
        transition: 0.3s ease;
      }
      img {
        transition: 0.5s ease;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }
    &.big {
      .galleryItem {
        &__inner {
          img {
            aspect-ratio: 3 / 4;
          }
        }
      }
    }
    &.sm {
      .galleryItem {
        &__inner {
          img {
            aspect-ratio: 3 / 2;
          }
        }
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .gallery {
    margin: 112px 0 100px;
  }
}
// 930px
@include md-lg {
  .gallery {
    margin: 96px 0;
  }
}
// 750px
@include sm-md {
  .gallery {
    &__inner {
      &-grid {
        column-count: 3;
        column-gap: 16px;
      }
    }
    &Item {
      border-radius: 16px;
      margin-bottom: 16px;
    }
  }
}
// 540px
@include xsm-sm {
  .gallery {
    margin: 96px 0 88px;
    &__inner {
      &-title {
        margin-bottom: 40px;
      }
      &-grid {
        column-count: unset;
        column-gap: unset;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
      }
    }
    &Item {
      margin: 8px;
      width: calc(50% - 16px);
      height: 250px;
      &__inner {
        height: 100%;
        img {
          aspect-ratio: unset !important;
          height: 100%;
        }
      }
    }
  }
}
