@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.doctor {
  &__inner {
    padding: 64px 0;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 995px;
    }
    &-title {
      margin-right: 32px;
      h2 {
        color: #181c20;
        margin: 0;
      }
    }
    &-text {
      flex: 1;
      max-width: 738px;
      p {
        color: #3e4a3e;
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .doctor {
    &__inner {
      padding: 56px 0;
    }
  }
}
// 750px
@include sm-md {
  .doctor {
    &__inner {
      &-row {
        flex-direction: column;
      }
      &-title {
        margin: 0 0 24px 0;
        width: 100%;
      }
      &-text {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
// 540px
@include xsm-sm {
  .doctor {
    &__inner {
      padding: 48px 0;
    }
  }
}
