@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.profile {
  &__inner {
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Image {
    width: calc(45% - 24px);
    max-width: 520px;
    border-radius: 24px;
    overflow: hidden;
    &__inner {
      width: 100%;
      padding-bottom: 133%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
  }
  &Content {
    width: calc(55% - 24px);
    max-width: 584px;
    padding: 32px 0;
    &__title {
      margin-bottom: 32px;
      p {
        font-weight: 500;
        color: $black1;
      }
    }
    &__text {
      margin-bottom: 32px;
      p {
        color: $black4;
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      .button {
        margin-right: 24px;
      }
    }
    h1 {
      margin-bottom: 4px;
    }
  }
}
// 1180px
@include xlg-xxlg {
  .profile {
    &__inner {
      padding: 56px 0;
    }
  }
}
// 930px
@include md-lg {
  .profile {
    &Image {
      width: calc(45% - 16px);
    }
    &Content {
      padding: 24px 0;
      width: calc(55% - 16px);
      &__buttons {
        flex-direction: column;
        align-items: flex-start;
        .button {
          margin: 0 0 24px 0;
        }
      }
    }
  }
}
// 750px
@include sm-md {
  .profile {
    &__inner {
      flex-direction: column;
    }
    &Image {
      width: 100%;
      max-width: unset;
    }
    &Content {
      padding: 0;
      width: 100%;
      max-width: unset;
      margin-bottom: 48px;
      text-align: center;
      order: -1;
      &__buttons {
        flex-direction: column;
        align-items: center;
      }
      h1 {
        margin-bottom: 8px;
      }
    }
  }
}
// 540px
@include xsm-sm {
  .profile {
    &__inner {
      padding: 48px 0;
    }
  }
}
