@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.pricing {
  &__inner {
    padding: 64px 0 96px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-wrapper {
      flex: 1;
      max-width: 926px;
    }
  }
  &Tabs {
    padding-top: 32px;
    width: 180px;
    margin-right: 48px;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button {
        font-family: $mainFont;
        font-weight: 600;
        font-size: 16px;
        line-height: 145%;
        color: $black3;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        padding: 16px 0;
        background: transparent;
        cursor: pointer;
        transition: 0.3s ease;
        position: relative;
        margin-bottom: 16px;
        &:last-child {
          margin: 0;
        }
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          content: "";
          background: $main;
          opacity: 0;
          transition: 0.3s ease;
        }
        &:hover {
          color: $main;
          &::before {
            opacity: 1;
          }
        }
        &.active {
          color: $main;
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
  &Content {
    display: none;
    margin-bottom: 64px;
    background: $white;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.03);
    border-radius: 48px;
    padding: 48px;
    &:last-child {
      margin: 0;
    }
    &.active {
      display: block;
      animation: fadeIn 0.3s;
    }
    &__title {
      margin-bottom: 48px;
      h3 {
        color: #181c20;
      }
    }
  }
  &Info {
    h5 {
      margin-bottom: 24px;
      color: $black1;
    }
    ul {
      padding-left: 28px;
      li {
        list-style: disc;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 145%;
        color: $black4;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &Item {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    display: flex;
    align-items: flex-start;
    &:last-child {
      margin: 0;
      padding: 0;
      border: unset;
    }
    &__info {
      flex: 1;
    }
    &__price {
      margin-left: 24px;
      text-align: right;
    }
    h6 {
      font-weight: 600;
      font-size: 20px;
      line-height: 145%;
      color: $black2;
      margin-bottom: 8px;
      &:last-child {
        margin: 0;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 145%;
      color: $black4;
    }
  }
}
// 1180px
@include xlg-xxlg {
  .pricing {
    &__inner {
      padding: 56px 0 80px;
    }
    &Tabs {
      margin-right: 24px;
    }
    &Content {
      border-radius: 40px;
      padding: 40px;
      &__title {
        margin-bottom: 40px;
      }
    }
  }
}
// 930px
@include md-lg {
  .pricing {
    &Tabs {
      padding-top: 24px;
    }
    &Content {
      border-radius: 32px;
      padding: 32px;
      margin-bottom: 56px;
      &__title {
        margin-bottom: 32px;
      }
    }
  }
}
// 750px
@include sm-md {
  .pricing {
    &__inner {
      flex-direction: column;
      &-wrapper {
        width: 100%;
      }
    }
    &Tabs {
      width: 100%;
      margin-bottom: 32px;
      padding: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      border-radius: 32px;
      &__inner {
        flex-direction: row;
        flex-wrap: wrap;
        margin: -6px;
        button {
          padding: 12px;
          width: calc(50% - 12px);
          margin: 6px !important;
          border-radius: 16px;
          border: 2px solid transparent;
          justify-content: center;
          &::before {
            display: none;
          }
          &.active {
            border-color: $main;
          }
        }
      }
    }
  }
}
// 540px
@include xsm-sm {
  .pricing {
    &__inner {
      padding: 48px 0 64px;
    }
    &Item {
      flex-direction: column;
      &__info {
        width: 100%;
        margin-bottom: 24px;
      }
      &__price {
        margin: 0;
        width: 100%;
        text-align: left;
      }
    }
    &Content {
      margin-bottom: 48px;
    }
  }
}
