@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.care {
  &__inner {
    padding: 96px 0;
    &-title {
      text-align: center;
      margin-bottom: 128px;
    }
  }
  &Item {
    margin-bottom: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white2;
    &:last-child {
      margin: 0;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &__content {
      width: calc(62% - 15px);
      max-width: 687px;
    }
    &__image {
      width: calc(38% - 15px);
      max-width: 417px;
      padding: 0 30px;
      &-inner {
        width: 100%;
        padding-bottom: 145%;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          @include fullImage;
        }
      }
    }
    h2 {
      margin-bottom: 32px;
      color: $white;
    }
    p {
      margin-bottom: 32px;
      &:last-child {
        margin: 0;
      }
    }
    ul {
      li {
        padding: 16px 0;
        display: flex;
        align-items: flex-start;
        color: $white2;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        &:first-child {
          border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        }
        span {
          width: 24px;
          height: 24px;
          display: flex;
          margin-right: 8px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        p {
          flex: 1;
          margin: 0;
        }
      }
    }
  }
}
// 1380px
@include xxxlg-xxxxlg {
  .care {
    &__inner {
      &-title {
        margin-bottom: 100px;
      }
    }
    &Item {
      margin-bottom: 100px;
    }
  }
}
// 1180px
@include xlg-xxlg {
  .care {
    &__inner {
      padding: 80px 0;
      &-title {
        margin-bottom: 80px;
      }
    }
    &Item {
      margin-bottom: 80px;
    }
  }
}
// 930px
@include md-lg {
  .care {
    &Item {
      &__image {
        padding: 0;
      }
    }
  }
}
// 750px
@include sm-md {
  .care {
    &Item {
      flex-direction: column !important;
      &__content {
        width: 100%;
        max-width: unset;
        margin-bottom: 48px;
      }
      &__image {
        width: 100%;
        max-width: unset;
        padding: 0 48px;
      }
    }
  }
}
// 540px
@include xsm-sm {
  .care {
    &__inner {
      padding: 64px 0;
      &-title {
        margin-bottom: 64px;
      }
    }
    &Item {
      margin-bottom: 64px;
      &__image {
        padding: 0;
        margin: 0 -8px;
        width: calc(100% + 16px);
      }
      h2 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 24px;
      }
    }
  }
}
