// colors
$primary: #02a04b;
$main: #02803c;
$white: #ffffff;
$white2: #f2f2f2;
$white3: #e6e6e6;
$white4: #d9d9d9;

$black: #000000;
$black1: #060606;
$black2: #282828;
$black3: #505050;
$black4: #767676;
$background: #f9f9f9;

// fonts
$mainFont: "Inter", sans-serif;
$titleFont: "Manrope", sans-serif;
