@use "../mixin/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: 0.3s ease;
  background: $background;
  &.bg-green {
    background: #e5f5ed;
  }
  &.dark {
    color: $white;
    background: transparent;
    .nav {
      &__inner {
        &-links {
          border-color: rgba($color: #ffffff, $alpha: 0.15);
          & > li {
            & > a {
              color: $white;
            }
          }
        }
      }
    }
    .lang {
      &__btn {
        color: $white;
      }
      &__menu {
        color: $white;
        background: $main;
        button {
          color: $white;
        }
      }
    }
  }
  &.sticky {
    top: 0;
    left: 0;
    background: $white;
    .nav {
      &__inner {
        &-links {
          border-left: 1px solid rgba($color: #000000, $alpha: 0.15);
          & > li {
            & > a {
              color: $black3;
            }
          }
        }
      }
    }
    .button {
      &.secondary {
        background: $black1;
        color: $white;
        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
    .lang {
      &__btn {
        color: $black1;
      }
      &__menu {
        color: $black1;
        background: $white;
        button {
          color: $black1;
        }
      }
    }
  }
  &__inner {
    padding: 12px 0;
    display: flex;
    align-items: center;
    height: 88px;
    &-logo {
      width: 169px;
      display: flex;
      position: relative;
      img {
        width: 100%;
        transition: 0.3s ease;
        &.light {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
  }
}
.lang {
  position: relative;
  z-index: 3;
  &.open {
    .lang__menu {
      opacity: 1;
      visibility: visible;
    }
    .lang {
      &__btn {
        span {
          svg {
            transform: rotate(-180deg);
          }
        }
      }
      &__menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__btn {
    font-family: $mainFont;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    color: $black1;
    cursor: pointer;
    min-width: 45px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
    b {
      font-weight: 600;
    }
    span {
      margin-left: 6px;
      display: flex;
      width: 14px;
      height: 14px;
      svg {
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
      }
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background: $white;
    color: $black1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px #00000016;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    width: 100%;
    button {
      color: $black1;
      cursor: pointer;
      transition: 0.3s ease;
      background: transparent;
      margin-bottom: 2px;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      font-family: $mainFont;
      &:last-child {
        margin: 0;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .header {
    &__inner {
      &-logo {
        width: 155px;
      }
    }
  }
}
// 1024px
@include lg-xlg {
  .header {
    &.dark {
      &.active {
        .header {
          &__inner {
            &-logo {
              img {
                &.light {
                  opacity: 1;
                }
                &.dark {
                  opacity: 0;
                }
              }
            }
          }
        }
        .nav {
          &__inner {
            &-links {
              & > li {
                & > a {
                  color: $white;
                }
              }
            }
          }
        }
      }
      .burger {
        &::before {
          background: $white2;
        }
        &::after {
          background: $white2;
        }
        span {
          background: $white2;
        }
      }
    }
    &.sticky {
      .burger {
        &::before {
          background: $black3;
        }
        &::after {
          background: $black3;
        }
        span {
          background: $black3;
        }
      }
    }
    &.active {
      background: #01401e;
      .burger {
        &::before {
          background: $white3;
        }
        &::after {
          background: $white3;
        }
        span {
          background: $white3;
        }
      }
      .header {
        &__inner {
          &-logo {
            img {
              opacity: 0;
              &.light {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &__inner {
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
      height: 80px;
    }
  }
  .lang {
    position: relative;
    margin: 0;
    &.open {
      .lang__menu {
        opacity: 1;
        visibility: visible;
      }
      .lang__btn {
        svg {
          transform: rotate(-90deg);
        }
      }
    }
    &__btn {
      color: $white2;
      cursor: pointer;
      min-width: unset;
      display: flex;
      align-items: center;
    }
    &__menu {
      width: 50px;
      top: unset;
      bottom: calc(100% + 5px);
      border-radius: 6px;
      background: $white;
      button {
        color: $primary;
      }
    }
  }
}
// 540px
@include xsm-sm {
  .header {
    &.active {
      .header {
        &__inner {
          border-color: rgba($color: #ffffff, $alpha: 0.15);
        }
      }
    }
    &__inner {
      border-bottom: 1px solid transparent;
      &-logo {
        width: 144px;
      }
    }
  }
}

@keyframes sticky {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 30px;
    opacity: 1;
  }
}
