@use "../mixin/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
.intro {
  position: relative;
  &.rev {
    .intro {
      &__inner {
        flex-direction: row-reverse;
      }
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 64px 0;
  }
  &Image {
    width: calc(55% - 20px);
    max-width: 623px;
    &__inner {
      width: 100%;
      padding-bottom: 75%;
      position: relative;
      overflow: hidden;
      border-radius: 24px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
  }
  &Content {
    width: calc(45% - 20px);
    max-width: 480px;
    padding: 32px 0;
    &__buttons {
      display: flex;
      align-items: center;
      .button {
        margin-right: 24px;
        &:last-child {
          margin: 0;
        }
      }
    }
    h1 {
      margin-bottom: 32px;
    }
    p {
      margin-bottom: 32px;
      color: #767676;
    }
  }
}
// 1180px
@include xlg-xxlg {
  .intro {
    &__inner {
      padding: 56px 0;
    }
    &Content {
      padding: 24px 0;
      &__buttons {
        flex-direction: column;
        align-items: flex-start;
        .button {
          margin: 0 0 24px 0;
        }
      }
    }
  }
}
// 1024px
@include lg-xlg {
  .intro {
  }
}
// 930px
@include md-lg {
  .intro {
    &Content {
      width: calc(44% - 10px);
      padding: 0;
      h1 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 24px;
      }
    }
    &Image {
      width: calc(56% - 10px);
    }
  }
}
// 750px
@include sm-md {
  .intro {
    &__inner {
      flex-direction: column !important;
    }
    &Content {
      width: 100%;
      max-width: unset;
      margin-bottom: 48px;
      text-align: center;
      &__buttons {
        align-items: center;
      }
      h1 {
        margin-bottom: 32px;
      }
      p {
        margin-bottom: 32px;
      }
    }
    &Image {
      width: 100%;
      max-width: unset;
    }
  }
}
// 540px
@include xsm-sm {
  .intro {
    &__inner {
      padding: 48px 0;
    }
    &Image {
      &__inner {
        padding-bottom: 136%;
      }
    }
  }
}

// 1180px
@include xlg-xxlg {
  .example {
  }
}
// 1024px
@include lg-xlg {
  .example {
  }
}
// 930px
@include md-lg {
  .example {
  }
}
// 750px
@include sm-md {
  .example {
  }
}
// 540px
@include xsm-sm {
  .example {
  }
}
