@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.info {
  margin: 128px 0;
  &Top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    &__title {
      width: calc(42% - 10px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__buttons {
      display: flex;
      align-items: center;
    }
    &__text {
      width: calc(58% - 10px);
      max-width: 600px;
      text-align: end;
    }
    &__link {
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: $main;
      margin-left: 24px;
    }
    h2 {
      margin-bottom: 24px;
    }
  }
  &__inner {
    padding: 64px;
    background: linear-gradient(
      180deg,
      rgba(46, 87, 153, 0) 0%,
      rgba(46, 87, 153, 0.1) 100%
    );
    border-radius: 0px 0px 48px 48px;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      content: "";
      width: 1436px;
      height: 672px;
      background: $primary;
      opacity: 0.1;
      filter: blur(64px);
    }
    &-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      z-index: 1;
      img {
        width: 100%;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }
  }
  &Item {
    width: calc(25% - 12px);
    color: $main;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 24px;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: $primary;
      opacity: 0.25;
      filter: blur(8px);
      border-radius: 24px;
      pointer-events: none;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background:
        linear-gradient(
          360deg,
          rgba(36, 113, 184, 0.1) 0%,
          rgba(36, 113, 184, 0) 100%
        ),
        #ffffff;
      border: 1px solid #c7dbec;
      z-index: 2;
      border-radius: 24px;
      pointer-events: none;
    }
    &__icon {
      width: 48px;
      height: 48px;
      display: flex;
      margin-bottom: 16px;
      position: relative;
      z-index: 3;
      img {
        width: 100%;
      }
    }
    h6 {
      font-weight: 500;
      position: relative;
      z-index: 3;
    }
  }
}
// 1180px
@include xlg-xxlg {
  .info {
    margin: 112px 0;
    &__inner {
      padding: 48px 30px;
      border-radius: 0 0 32px 32px;
    }
    &Top {
      margin-bottom: 48px;
    }
    &Item {
      padding: 24px;
    }
  }
}
// 930px
@include md-lg {
  .info {
    margin: 96px 0;
    &Top {
      flex-direction: column;
      position: relative;
      padding-bottom: 84px;
      &__title {
        width: 100%;
        max-width: unset;
      }
      &__text {
        width: 100%;
        max-width: unset;
        text-align: start;
      }
      &__buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center;
      }
    }
    &__inner {
      &-row {
        flex-wrap: wrap;
        margin: 0 -8px;
      }
    }
    &Item {
      width: calc(50% - 16px);
      margin: 8px;
      padding: 32px;
    }
  }
}
// 750px
@include sm-md {
  .info {
    &__inner {
      padding: 36px 20px;
    }
  }
}
// 540px
@include xsm-sm {
  .info {
    &__inner {
      padding: 0;
      background: unset;
      &-row {
        padding: 48px 16px 16px;
        background: linear-gradient(
          180deg,
          rgba(46, 87, 153, 0) 0%,
          rgba(46, 87, 153, 0.1) 100%
        );
        border-radius: 0px 0px 32px 32px;
        flex-direction: column;
        margin: 0;
      }
      &-title {
        display: none;
      }
    }
    &Top {
      padding: 0 8px 84px;
      margin: 0;
    }
    &Item {
      width: 100%;
      margin: 0 0 16px 0;
      border-radius: 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
