@use "../../mixin/mixin.scss" as *;
@use "../../1-main/variables.scss" as *;
.contact {
  &__inner {
    padding: 64px 0;
    &-title {
      text-align: center;
      margin-bottom: 48px;
      p {
        color: $black4;
      }
    }
    &-row {
      max-width: 994px;
      margin: 0 auto 48px;
      display: flex;
      justify-content: space-between;
    }
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .button {
        margin-right: 24px;
      }
    }
    h1 {
      margin-bottom: 24px;
    }
  }
  &Item {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $black1;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 0 16px;
    &:hover {
      opacity: 1;
      color: $primary;
      .paragraph {
        color: $primary;
      }
    }
    &:last-child {
      border: unset;
    }
    &__info {
      display: flex;
      align-items: center;
    }
    .paragraph {
      margin-bottom: 8px;
      color: $black3;
      transition: 0.3s ease;
    }
    span {
      width: 19px;
      height: 19px;
      margin-right: 12px;
      display: flex;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    h6 {
      font-weight: 600;
      font-size: 18px;
      line-height: 145%;
      margin: 0;
    }
  }
}
// 1180px
@include xlg-xxlg {
  .contact {
    &__inner {
      padding: 56px 0;
    }
  }
}
// 930px
@include md-lg {
  .contact {
    &__inner {
      &-row {
        flex-direction: column;
      }
    }
    &Item {
      width: 100%;
      padding: 0 0 24px 0;
      border: unset;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      margin-bottom: 24px;
      &:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }
}
// 540px
@include xsm-sm {
  .contact {
    &__inner {
      padding: 48px 0;
      &-buttons {
        flex-direction: column;
        align-items: center;
        .button {
          margin: 0 0 24px 0;
        }
      }
    }
  }
}
