@use "../mixin/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
.typography {
  margin: 80px 0 144px;
  &__inner {
    max-width: 790px;
    margin: 0 auto;
    &-content {
      margin-bottom: 64px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .typography {
    margin: 64px 0 112px;
    &__inner {
      &-content {
        margin-bottom: 48px;
      }
    }
  }
}
// 930px
@include md-lg {
  .typography {
    margin: 48px 0 96px;
  }
}
