@use "../mixin/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
.typography {
  &__inner {
    padding: 80px 0;
    &-content {
      margin-bottom: 64px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .typography {
    &__inner {
      padding: 64px 0;
      &-content {
        margin-bottom: 48px;
      }
    }
  }
}
// 930px
@include md-lg {
  .typography {
    &__inner {
      padding: 48px 0 64px;
    }
  }
}
